.App {
  text-align: center;
}

.App-logo {
  height:200px;
  pointer-events: none;
  margin-bottom: 5rem;
}
.contedor_principal{
  background-color: #000000;
  padding: 3rem;
  max-width: 500px;
  margin: 0 auto;
  
  border-radius: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
