.contenedor-testimonio{
    width: 1170px;
    height:368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px rgb(0 0 0 /9%);
}
.imagen-testimonio{
    height:100%;
    width:auto;
}
.nombre{
    font-size: 1.3rem;

}
.cargo{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto{
    text-align: center;
    padding: 40px;
    font-family: Late,sans-serif;
    font-weight:400;
    line-height: 1.5rem;}