.App {
  text-align: center;
}

.Contenedor-Calculadora{

  background-color: rgb(98, 192, 216);
  width: 400px;
  height: 600px;
  margin:0 auto;
  border-radius: 8px;
  border: 4px solid white;
}
.fila{
  margin:4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pantalla{
  background-color: rgb(255, 255, 255);
  padding:3.5rem;
  margin: 15px 15px;
  color:black;
  border-radius: 10px;
}
